
body{
    position: center;
}

#die1 {
    position: relative;
}

#die2 {
    position: relative;
}

div.dice{
	float:left;
	width:50px;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:35px;
	text-align:center;
	margin:10px;
}